main {
  background-color: #ffbb5c;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  pointer-events: none;
  align-items: flex-end;
  height: 100dvh;
}

.blocks {
  display: inline-flex;
  gap: 100px;
  align-items: baseline;
}
.blocks .block:first-child {
  margin-left: 10em;
}
.block {
  background-color: #c63d2f;
  width: 5rem;
}
.controller {
  position: fixed;
  top: 10%;
  left: calc(100dvw / 2);
  pointer-events: all;
  transform: translateX(-50%);
}
.play button {
  padding: 1rem;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 700;
  width: 7rem;
  color: #e25e3e;
  background: #ffbb5c;
  border: 0.3rem solid;
}
.player {
  height: 5rem;
  width: 4rem;
  background-color: black;
  position: absolute;
  left: calc(10rem + 7px);
  border-radius: 8px;
}
.up {
  position: absolute;
  pointer-events: all;
  padding: 10px;
  font-size: x-large;
  top: 1%;
}
